body{
	
	background-color: #111bd8;
}
#main{
	
	height: 450px;
	background-color: white;
	margin-top: 100px;
	
}
#info{
	margin-left: 20px;
	padding-top:2px;
}
input[type=text]{
	width: 260px;
	box-sizing: border-box;
	border: 2px solid #111bd8;
	border-radius: 4px;
}